* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c1c;
}

.btn {
  position: relative;
  width: 220px;
  height: 60px;
  background: #242b2e;
  border-radius: 70px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  text-decoration: none;
  letter-spacing: 2px;
  border-top: 0.1px solid gray;
  border-left: 0.1px solid gray;
  padding-left: 40px;
  transition: 0.5s;
  overflow: hidden;
}

.btn:hover {
  padding-left: 0px;
  padding-right: 40px;
  color: #fff;
}

.btn span {
  position: absolute;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #1faa59;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a191d;
  font-size: 1.5rem;
}

.btn:hover span {
  left: calc(100% - 55px);
}

.btn::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 100%;
  z-index: 1;
  background: lightgray;
  transform: translateX(-180px) skewX(30deg);
  transition: 0.75s ease-in-out;
}

.btn:hover::after {
  transform: translateX(180px) skewX(30deg);
}
